/*
    ********** PROJECT SHARING WEB **********

    Written by BadBoyHaloCat and Drago
*/

$primaryColor: #FFFFFF;
$secondaryColor: #e4e4e4;
$globalFont: 'Source Sans Pro', sans-serif;
$globalFontWeight: 200;
$headerFontSize: 100% + 50%;
$dividerFontSize: $headerFontSize * 1.5;

// import fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: $globalFont;
    font-weight: $globalFontWeight;
}

div#main {
    padding: 5px;
}

header#header {
    position: sticky;
    background-color: $secondaryColor;
    padding: 1px;
    font-size: $headerFontSize;

    span.divider {
        font-size: $dividerFontSize;
        position: relative;
        top: -5px;
    }

    li {
        position: relative;
        top: -10px;
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0px;
        display: inline;
        list-style-type: none;
        a {
            color: black;
            text-decoration: none;
            margin: 3px;
        }
    }
}

// responsive header
@media screen and (max-width: 953px) {
    header#header {
        span.divider {
            display: none;
        }

        li {
            display: block;
            top: 0px;
            padding: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}